body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #000000, #4b0082);
  height: 100vh;
}

* {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  transition: all 0.1s linear;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.3s linear;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin: 0;
}

img {
  width: 150px;
  height: 150px;
  box-shadow: 0px 0px 5px 0px lightgray;
}

h2 {
  font-size: 2rem;
  color: whitesmoke;
}

h3 {
  font-size: 24px;
  text-transform: capitalize;
  color: green;
}

input {
  height: 30px;
  width: 200px;
  margin-bottom: 1rem;
  border-radius: 5px;
}

div {
  margin: 10px;
}

button {
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px; 
}

.card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card p {
  margin: 10px 0 0;
  padding: 0 10px;
  flex-grow: 1; 
}

#container {
  width: 200px;
  height: 200px;
  cursor: pointer;
}

#containerColors {
  display: grid;
  grid-template-columns: repeat(2, 200px);

  div {
    width: 200px;
    height: 200px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  #containerBlue {
    background-color: blue;
  }

  #containerRed {
    background-color: red;
  }

  #containerGreen {
    background-color: green;
  }

  #containerYellow {
    background-color: yellow;
  }

  .containerColor {
    border: solid 1px whitesmoke;
  }
}

#color-selector {
  min-width: 200px;
  border: 1px solid lightgray;
  height: 30px;
}

#color-change {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  text-align: center;
}

.keys {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.keys div {
  width: 200px;
  height: 200px;
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 10px;
}

